@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "node_modules/bootstrap/scss/vendor/rfs";

.article {
  position: relative;
  padding-top: rem(48px);
  padding-bottom: rem(145px);

  @include media-breakpoint-down(lg) {
    padding: rem(24px) 0;
  }

  &__title {
    @include media-breakpoint-down(lg) {
      font-size: rem(22px);
    }
  }

  &__content {

    &-part {
      margin-bottom: rem(40px);

      @include media-breakpoint-down(lg) {
        margin-bottom: rem(24px);
      }
    }

    &-list {

      li {
        list-style: auto;
        margin-left: rem(16px);
        padding-left: rem(8px);
      }

      li + li {
        margin-top: rem(24px);
      }

      &-item {
        
      }
    }

    // &-img {
    //   margin: rem(40px) 0;
    // }
  }
}