@import '../utilities/variables';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.title {
  font-weight: 700;

  &-mb-big {
    margin-bottom: rem(40px);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(16px);
    }
  }

  &-big {
    
    @include media-breakpoint-up(lg) {
      @include font-size(64px);
    }

    @include media-breakpoint-between(md, lg) {
      @include font-size(56px);
    }

    @include media-breakpoint-between(sm, md) {
      @include font-size(48px);
    }
    
    @include media-breakpoint-down(sm) {
      font-size: rem(38px)
    }
  }
  
  &-medium {

    @include media-breakpoint-up(lg) {
      @include font-size(44px);
    }
    
    @include media-breakpoint-down(lg) {
      font-size: rem(26px);
    }
  }
  
  &-small {
    @include font-size(32px);

    @include media-breakpoint-down(lg) {
      font-size: rem(26px);
    }
  }
}

.text {

  // &-secondary {
  //   color: get($colors, secondary);
  // }
  &-500 {
    font-weight: 500;
  }

  &-normal {
    @include font-size(16px);

    @include media-breakpoint-down(md) {
      font-size: rem(14px)
    }
  }

  &-big {
    
    @include media-breakpoint-up(md) {
      @include font-size(24px);
    }

    @include media-breakpoint-down(md) {
      font-size: rem(20px);
    }
  }

  &-medium {
    @include font-size(18px);

    @include media-breakpoint-down(md) {
      @include font-size(16px);
    }
  }

  &-small {
    @include font-size(14px);

    @include media-breakpoint-down(md) {
      @include font-size(12px);
    } 
  }

  &-smaller {
    @include font-size(12px);
  }

  &-ex-small {
    @include font-size(10px);
  }
}

.link {
  @include transition;

  cursor: pointer;

  &.is-active,
  &:hover {
    color: get($colors, danger);
    
    .svg-icon {
      stroke: get($colors, danger);
    }
  }
  
}

