.d-flex.justify-content-center.mt-5.pagination
  button(type='button' class="button button-arrow mr-middle")
    +icon('arrow-left', 'icon')
  .row.gx-1
    .col-auto
      button(type='button' class="button button-pagination current")
        span 1
    .col-auto
      button(type='button' class="button button-pagination")
        span 2
    .col-auto
      button(type='button' class="button button-pagination")
        span 3
    .col-auto
      button(type='button' class="button button-pagination")
        span 4
    .col-auto
      button(type='button' class="button button-pagination")
        span 5
  button(type='button' class="button button-arrow button-arrow--reverse ml-middle")
    +icon('arrow-left', 'icon')