extends ../../layout/imagemodal

block modalVariables
  - modalId = 'js-image-zoom-modal'
  - modalClasses = 'modal--image-zoom'

block modalContent
  .w-100
    img(src="" alt="charter" class="w-100 h-100 js-image-zoom-modal-item")