extends ../../layout/modal

block modalVariables
  - modalId = 'js-phone-check-modal'
  - modalClasses = 'modal--phone-check'

block modalContent
  .modal__content
    h4.text-big.modal__content-title Введите код из СМС
    p.text-normal.text-dark Чтобы задать вопрос, Вам необходимо ввести код, который мы отправили на номер #[span.text-dark.text-500 +7 999 *** ** 33]
    form(class=['modal__content-form js-form-validate js-code-validate'])
      .row.justify-content-center.gx-3
        .col-12
          +field({
            type: 'number',
            placeholder: '0000',
            classes: 'p-3 text-center modal__content-form-code js-modal-code',
            validate: true,
            validateLength: 4,
            validateTextInvalid: 'Код введён не верно!',
            maxlength: 4,
          })
        .col-12
          +button({
            buttonType: 'submit',
            type: 'red',
            content: 'Отправить',
            classes: 'w-100 button-size-normal modal__content-form-button'
          })
        .col-12
          a(href="#" class="text-center text-normal text-decoration-underline text-dark modal__content-form-link") Отправить код повторно 