extends ../layout/main

block mainVariables
  - pageTitle = 'Страница статьи';
  - pageRootClass = 'article';
  - pageId = 'js-page-regular'
  - activeNavIndex = 0

block mainContent
  +breadcrumbs([
    {
      name: 'Главная',
      href: 'home.html',
    },
    {
      name: 'Полезные статьи',
      href: 'articles.html',
    },
    {
      name: 'Страница статьи',
    },
  ])
  .article
    .container
      .row
        .col-12.col-lg-8.mx-auto
          .article__content
            .article__content-part
              +title({
                tag: 'h3',
                type: 'small',
                content: 'Доброкачественная гиперплазия (ДГПЖ, аденома) предстательной железы',
                classes: 'mb-0 article__title',
              })
              p.mt-2.text-small.text-secondary 16.08.2022
            .article__content-part
              .article__content-img
                +lazyImage({
                  imageSrc: 'img/articles/article-img-3',
                  type: 'img',
                  classes: '',
                  imageClasses: '',
                })
            .text-normal.text-dark.article__content-part
              p Доброкачественная гиперплазия предстательной железы (так же аденома простаты) – доброкачественное новообразование, образующееся из железистых или стромальных клеток предстательной железы.
              br
              p Увеличивающаяся в размерах простата со временем способна сдавливать мочевыводящие пути, из-за чего у пациентов наблюдается прогрессирующее нарушение мочеиспускания, которое не поддается лекарственной терапии.
              br
              p Наиболее эффективным способом лечения доброкачественной гиперплазии простаты является хирургическое вмешательство. В случае запущенного процесса обычно прибегают к удалению предстательной железы, однако при своевременном выявлении заболевания на ранней стадии возможно применение менее радикальных методов.
            .article__content-part
              h4.text-big Почему стоит ехать к нам в клинику ради этой услуги?
            .text-normal.article__content-part
              ul.mb-0.article__content-list
                li
                  p.text-dark.article__content-list-item Опытные врачи осуществляют комплексное лечение с использованием новых методик и оборудования. С момента прибытия в Тюмень и до полного выздоровления вы находитесь под чутким наблюдением специалистов.
                li
                  p.text-dark.article__content-list-item Вам не нужно беспокоиться о дороге и проживании! Мы организуем для вас трансфер от дома до медицинского центра и поселим вас в лучших отелях города.
                li
                  p.text-dark.article__content-list-item У вас не возникнет проблем с визами, вы не столкнетесь с языковым барьером. У нас лечение в разы доступнее, чем в Европе.
                li
                  p.text-dark.article__content-list-item В период реабилитации клиника организует для вас культурно-развлекательную программу по туристическим местам города.
            .text-normal.text-dark.article__content-part
              p Помните, что здоровье – это самое ценное, что есть у человека. Наша клиника поможет оперативно решить проблемы со здоровьем и вернуться к полноценной жизни.
              br
              p Пришлите вашу медицинскую документацию, и мы бесплатно проконсультируем вас и предложим подходящий вариант лечения!
    include ../components/scrollup