extends ../layout/main

block mainVariables
  - pageTitle = 'Врачи';
  - pageRootClass = 'doctors';
  - pageId = 'js-page-regular'
  - activeNavIndex = 0

block mainContent

  -
    doctorsItems = [
      {
        photoUrl: 'img/specialists/specialist-photo-1',
        category: 'Высшая категория',
        name: 'Верясов Дмитрий Александрович',
        post: 'Главный врач',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-2',
        category: 'Первая категория',
        name: 'Кобелева Елена Дмитриевна',
        post: 'Заместитель главного врача по клинико-экспертной работе',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-3',
        category: 'Вторая категория',
        name: 'Скоробогатова Ирина Анатольевна',
        post: 'Заместитель главного врача по медицинской части',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-4',
        category: 'Высшая категория',
        name: 'Стороженко Марина Вячеславовна',
        post: 'Начальник отдела по организационно-методической работе, врач-методист',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-1',
        category: 'Высшая категория',
        name: 'Верясов Дмитрий Александрович',
        post: 'Главный врач',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-2',
        category: 'Первая категория',
        name: 'Кобелева Елена Дмитриевна',
        post: 'Заместитель главного врача по клинико-экспертной работе',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-3',
        category: 'Вторая категория',
        name: 'Скоробогатова Ирина Анатольевна',
        post: 'Заместитель главного врача по медицинской части',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-4',
        category: 'Высшая категория',
        name: 'Стороженко Марина Вячеславовна',
        post: 'Начальник отдела по организационно-методической работе, врач-методист',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-1',
        category: 'Высшая категория',
        name: 'Верясов Дмитрий Александрович',
        post: 'Главный врач',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-2',
        category: 'Первая категория',
        name: 'Кобелева Елена Дмитриевна',
        post: 'Заместитель главного врача по клинико-экспертной работе',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-3',
        category: 'Вторая категория',
        name: 'Скоробогатова Ирина Анатольевна',
        post: 'Заместитель главного врача по медицинской части',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-4',
        category: 'Высшая категория',
        name: 'Стороженко Марина Вячеславовна',
        post: 'Начальник отдела по организационно-методической работе, врач-методист',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-1',
        category: 'Высшая категория',
        name: 'Верясов Дмитрий Александрович',
        post: 'Главный врач',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-2',
        category: 'Первая категория',
        name: 'Кобелева Елена Дмитриевна',
        post: 'Заместитель главного врача по клинико-экспертной работе',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-3',
        category: 'Вторая категория',
        name: 'Скоробогатова Ирина Анатольевна',
        post: 'Заместитель главного врача по медицинской части',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
      {
        photoUrl: 'img/specialists/specialist-photo-4',
        category: 'Высшая категория',
        name: 'Стороженко Марина Вячеславовна',
        post: 'Начальник отдела по организационно-методической работе, врач-методист',
        description: 'Врач-кардиолог, кандидат медицинских наук, доцент кафедры терапии с курсами эндокринологии, функциональной и ультразвуковой диагностики института клинической медицины Тюменского ГМУ',
      },
    ]

  +breadcrumbs([
    {
      name: 'Главная',
      href: 'home.html',
    },
    {
      name:'Врачи',
    },
  ])
  .doctors
    .container
      .services__header
        +title({
          tag: 'h3',
          type: 'medium',
          content: 'Врачи',
          classes: 'label',
        })
        .row.justify-content-between.align-items-center
          .col-12.col-md-auto
            +tabs([
              {
                place: 'services',
                name: 'Клиника',
                checked: true,
              },
              {
                place: 'services',
                name: 'Стоматология',
              },
            ])
        .row.mt-lg-5.g-2.doctors__filter
          .col-auto
            .filter
              input(type="radio" name="filter-item" checked)
              span.text-small Руководители
          .col-auto
            .filter
              input(type="radio" name="filter-item")
              span.text-small Отделение общетерапевтического профиля
          .col-auto
            .filter
              input(type="radio" name="filter-item")
              span.text-small Акушерско-гинекологическое отделение
          .col-auto
            .filter
              input(type="radio" name="filter-item")
              span.text-small Отделение амбулаторной хирургии
          .col-auto
            .filter
              input(type="radio" name="filter-item")
              span.text-small Диагностическое отделение
          .col-auto
            .filter
              input(type="radio" name="filter-item")
              span.text-small Центр медицинской помощи студентам
          .col-auto
            .filter
              input(type="radio" name="filter-item")
              span.text-small Стоматология
        .row.gx-3.gy-lg-5.mt-big
          each doctor in doctorsItems
            .col-12.col-md-6.col-lg-4.col-xl-3
              +specItem({
                photoUrl: doctor.photoUrl,
                category: doctor.category,
                name: doctor.name,
                post: doctor.post,
                description: doctor.description,
              })
      include ../components/pagination