extends ../layout/main

block mainVariables
  - pageTitle = 'Вопросы и ответы';
  - pageRootClass = 'QandA';
  - pageId = 'js-page-qanda'
  - activeNavIndex = 0

block mainContent

  -
    qandaItems = [
      {
        question: 'Здравствуйте ! Мне необходима справка для возврата налога на доходы физических лиц за 2022 г., как можно получить?',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый день ! Подскажите стоимость приема врача-гематолога Платицына В.А.?',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый день! можно ли сдать анализ крови на гликемический профиль? в субботу можно прийти сдавать его? можно ли записаться и пройти на ктг, если наблюдаюсь в дугой жк? есть ззапись на вечер в будни или выходные дни?',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый день. Почему у Хойрыш АВ расписание не сформировано? В отпуске?',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый день. Была у Вас на приеме, хотела бы получить на руки результаты анализов и УЗИ',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый вечер! Подскажите стоимость приема у акушера-гинеколога Винокурова Е.А.?',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый день. Почему у Хойрыш АВ расписание не сформировано? В отпуске?',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый день. Была у Вас на приеме, хотела бы получить на руки результаты анализов и УЗИ',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
      {
        question: 'Добрый вечер! Подскажите стоимость приема у акушера-гинеколога Винокурова Е.А.?',
        answer: 'Добрый день, Уважаемая Светлана! Да, данный анализ крови возможно сдать в клинике, в том числе в субботу до 10 часов утра. Проведение исследования - КТГ возможно так же в субботу, не зависимо от прикрепления к женской консультации. Предварительная запись не требуется. По дополнительным вопросам Вы можете связаться с нами по телефону регистратуры 20-05-10. Благодарим Вас за обращение!'
      },
    ]

  +breadcrumbs([
    {
      name: 'Главная',
      href: 'home.html',
    },
    {
      name: 'Вопросы и ответы',
    },
  ])
  .qanda.js-question-scroll-root
    .container
      +title({
        tag: 'h3',
        type: 'medium',
        content: 'Вопросы и ответы',
        classes: 'mb-0',
      })
    .qanda__content

      .qanda__content-part.text-center
        .container
          a(class="text-danger text-500 text-big qanda__content-part-link js-question-scroll-button") Задать вопрос
      each item in qandaItems
        .qanda__content-part
          .container
            .qanda__content-item
              input(type="checkbox" name="item-checkbox")
              .qanda__content-item-wrapper
                .qanda__content-item-text
                  p.text-big.text-500 #{item.question}
                  p.text-uppercase.text-secondary 16.08.2022
                  .hidden-text
                    .d-flex.align-items-center
                      +icon('tmy', '', '28px', '28px')
                      span.ms-2.text-uppercase.text-normal.text-500 ТМУ
                    p.mt-2.mb-0.text-dark.text-normal #{item.answer}
                .qanda__content-item-plus
                  +icon('plus', 'plus')
                  +icon('minus', 'minus')
    .container
      include ../components/pagination
    .form__wrapper
      .container
        .row
          .col-12.col-lg-7.mx-auto
            +title({
              tag: 'h4',
              type: 'medium',
              content: 'Задать вопрос',
              classes: 'form__title',
            })
            p.form__subtitle Чтобы задать вопрос, вам надо будет подтвердить номер телефона/почту
            form(class=['js-form-validate js-switch-inputs'])
              +tabs([
                {
                  place: 'qanda',
                  name: 'По телефону',
                  value: 'phone',
                  classes: 'js-slide',
                  checked: true,
                },
                {
                  place: 'qanda',
                  value: 'email',
                  classes: 'js-slide',
                  name: 'По почте',
                },
              ])
              .row.gx-3
                .col-12.col-md-6
                  +field({
                    type: 'text',
                    placeholder: 'Ваше имя',
                    classes: 'p-3',
                    validate: true
                  })
                .col-12.col-md-6.js-input-phone
                  +field({
                    type: 'phone',
                    placeholder: 'Телефон',
                    classes: 'p-3 js-phone-mask',
                    validate: true,
                    validateLength: 18
                  })
                .col-12.col-md-6.is-hidden.js-input-email
                  +field({
                    type: 'email',
                    placeholder: 'Почта',
                    classes: 'p-3',
                    validate: true,
                  })
                .col-12
                  +field({
                    type: 'textarea',
                    placeholder: 'Ваш вопрос',
                    classes: 'p-3',
                    validate: true,
                  })
              .row.align-items-center
                .col-12.col-lg
                  .form__agreement
                    .form__agreement-checkbox
                      label
                        input(type="checkbox" name="agreement")
                        span
                    span.text-dark Согласен с #[a(href="#" class="text-danger text-decoration-underline") правилами] обработки персональных данных*
                .col-12.col-lg-auto
                  +button({
                    buttonType: 'submit',
                    type: 'default',
                    content: 'Отправить',
                    classes: 'w-100 text-500 button button-red form__button'
                  })
    #js-question-scroll-block
      include ../components/scrollup