extends ../layout/main

block mainVariables
  - pageTitle = 'Все услуги';
  - pageRootClass = 'services';
  - pageId = 'js-page-regular'
  - activeNavIndex = 0

block mainContent

  -
    allServicesItems = [
      {
        href: 'service.html',
        imgUrl: 'img/services/services-immunologist.svg',
        title: 'Аллерголог-иммунолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-gynecologist.svg',
        title: 'Акушер-гинеколог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-gastroenterologist.svg',
        title: 'Гастроэнтеролог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-hematologist.svg',
        title: 'Гематолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-dermatovenereologist.svg',
        title: 'Дерматовенеролог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-cardiologist.svg',
        title: 'Кардиолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-coloproctologist.svg',
        title: 'Колопроктолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-otorhinolaryngologist.svg',
        title: 'Оториноларинголог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-ophthalmologist.svg',
        title: 'Офтальмолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-oncologist.svg',
        title: 'Онколог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-pediatrician.svg',
        title: 'Педиатр',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-occupational-pathologist.svg',
        title: 'Профпатолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-radiologist.svg',
        title: 'Рентгенолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-endoscopist.svg',
        title: 'Рефлексотерапевт',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-therapist.svg',
        title: 'Терапевт',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-neurologist.svg',
        title: 'Невролог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-neurologist.svg',
        title: 'Ультразвуковая диагностика',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-functional-diagnostics.svg',
        title: 'Функциональная диагностика',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-endocrinologist.svg',
        title: 'Эндокринолог',
        subtitle: 'Небольшой текст-описание врача',
      },
      {
        href: 'service.html',
        imgUrl: 'img/services/services-endoscopist.svg',
        title: 'Эндоскопист',
        subtitle: 'Небольшой текст-описание врача',
      },
    ]
  
  +breadcrumbs([
    {
      name: 'Главная',
      href: 'home.html',
    },
    {
      name:'Услуги',
    },
  ])
  .services
    .container
      .services__header
        +title({
          tag: 'h3',
          type: 'small',
          content: 'Услуги',
          classes: 'label',
        })
        .row.justify-content-between.align-items-center
          .col-12.col-md-auto
            +tabs([
              {
                place: 'services',
                name: 'Клиника',
                checked: true,
              },
              {
                place: 'services',
                name: 'Стоматология',
              },
            ])
          .col-12.col-md-auto
            +switch()
      .services__content
        .row.g-lg-4
          each item in allServicesItems
            .col-12.col-lg-4
              +item({
                imgUrl: item.imgUrl,
                title: item.title,
                subtitle: item.subtitle,
              })
